<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <meta property="og:url" content="http://testingfacebookthing.azurewebsites.net"/>
        <meta name="og:title" content="This is the Title" open-graph>
        <meta name="og:description" content="And a bnogus description." open-graph>
        <meta name="og:image" content="http://testingfacebookthing.azurewebsites.net/testPage" open-graph>
    </head>
    <body>
        <header>
            @System.DateTime.UtcNow.ToString("u") 
        </header>
        <div id="body">
            @RenderBody()
            <p>This is some test content but I'm blathering on because it apparently needs to be at least 120 characters for facebook to detect it.</p>
        </div>